.currency-image {
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

.currency-title {
    font-weight: 600;
}

.form-input {
    width: 440px;
    max-width: 440px;
    height: 90px;
    max-height: 90px;

}

.helper-text {
    font-size: 1.5rem;
}