.currency-image {
    width: 38px;
    padding-right: 20px;



    // @media screen and (max-width: 480px) {
    //     width: 3rem;
    //     height: 3rem;


    // }
}

.currency-title {
    font-weight: 600;
}

.form-input {
    width: 440px;
    max-width: 440px;
    height: 90px;
    max-height: 90px;

    @media screen and (max-width: 1200px) {
        width: 60rem;
        max-width: 60rem;
    }


    @media screen and (max-width: 992px) {
        width: 47rem;
        max-width: 47rem;
    }

    @media screen and (max-width: 480px) {
        width: 24rem;
        max-width: 24rem;


    }


}